<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar perfil</title>
    <link rel="stylesheet" href="css/forms.css">
</head>
<body class="profile">
    <div class="form-container">
        <h2>Editar mi perfil</h2>
        <hr>
            <form action="" method="">
                <div class="profile-box">
                    <h4 class="profile-subtitle">Avatar</h4>
                    <div class="avatar">
                        
                    </div>
                    <div class="input-file-container">
                        <input type="file" name="" id="">
                    </div>
                </div>
                <div class="profile-form">
                    
                    <div class="profile-box">
                        <h4 class="profile-subtitle">Datos personales</h4>
                            <div class="input-container">
                                <input class="input-style" type="email" name="email" placeholder="Ingrese su email" value="user.email@mail.com" readonly>
                            </div>
                            <div class="input-container">
                                <input class="input-style" type="text" name="name" placeholder="Nombre">
                                <span class="error-message">Debe ingresar su nombre</span>
                            </div>
                            <div class="input-container">
                                <input class="input-style" type="text" name="lastname" placeholder="Apellido">
                                <span class="error-message">Debe ingresar su apellido</span>
                            </div>
                            <div class="input-container">
                                <input class="input-style" type="number" name="dni" placeholder="DNI">
                                <span class="error-message">Debe ingresar un DNI válido</span>
                            </div>
                    </div>
                    <div class="profile-box">
                        <h4 class="profile-subtitle">Datos de contacto</h4>
                        <div class="input-container">
                            <label for="">Telefono:</label>
                            <input class="input-style" type="tel" name="tel" placeholder="Teléfono">
                        </div>
                        <div class="input-container">
                           <select name="provincia" class="input-select">
                               <option value="" hidden selected>Elija una provincia</option>
                               <option value="laRioja">La Rioja</option>
                               <option value="chaco">Chaco</option>
                               <option value="cordoba">Córdoba</option>
                               <option value="misiones">Misiones</option>
                               <option value="chubut">Chubut</option>
                           </select>
                        </div>
                        <div class="input-container">
                            <select name="localidad" class="input-select">
                                <option value="" hidden selected>Elija una localidad</option>
                                <option value="localidad1">Localidad1</option>
                                <option value="localidad2">Localidad2</option>
                                <option value="localidad3">Localidad3</option>
                                <option value="localidad4">Localidad4</option>
                                <option value="localidad5">Localidad5</option>
                            </select>
                        </div>
                        <div class="input-container">
                            <input class="input-style" type="text" name="domicilio" placeholder="DNI">
                        </div>
                    </div>
                </div> 
                <div class="button-container">
                    <button type="reset" class="btn btn-reset">Reset</button>
                    <button type="submit" class="btn btn-edit">Guardar</button>
                </div> 
            </form>
    </div>
</body>
</html>