<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" type ="text/css" href="/css/footer.css">
    <script src="https://kit.fontawesome.com/64afb4feab.js" crossorigin="anonymous"></script>
    <title>Footer</title>
</head>
<body>
 <footer>
        <div>
          <img src = "../desing/views/logo.jpg" alt="logotipo" class ="logo">
      </div>
    <div class="content">
        <div class="left box">
        <div class="lower">
            <div class="topic">Contactanos</div>
                <div class="phone">
                    <a href="#"><i class="fas fa-phone-volume"></i>+54 11-5555-5555</a>
                </div>
            <div class="email">
                    <a href="#"><i class="fas fa-envelope"></i>electrohouse@gmail.com</a>
            </div>
        </div>
        </div>
                <div class="middle box">
                    <div class="topic">-Categorias</div>
                        <div><a href="#">-TV y Sonido</a></div>
                        <div><a href="#">-Heladeras y Lavado</a></div>
                        <div><a href="#">-Climatizacion</a></div>
                        <div><a href="#">Pequeños Electros</a></div>
                    </div>
                <div class="media-icons">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-whatsapp"></i></a>
            
                </div>
                </div>
        
        </div>
   </div>
   
 </footer>

</body>
</html>