<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body >
    <h2>Heladera y lavado</h2>

    <section class="offer">
		

		<article class="home-appliances">
			<div class="photo-container">
			<img class="photo" src="/images/Helad y lavad/lavarropas whirl.webp" alt="cafetera">
		</div>
			<p>$ 73.199</p>
			<p>5% OFF</p>
			<p>Lavarropas Sense Inverter Whirlpool 9Kg 1200 RPM WLF91AB</p>
		</article>
		<article class="home-appliances">
			<div class="photo-container">
			<img class="photo" src="/images/Helad y lavad/heladera samsung.png" alt="heladera">
		</div>
			<p>Precio online: $134.999,00</p>
			<p>10% OFF</p>
			<p>HELADERA NO FROST SAMSUNG RT38K5932SL DIGITAL</p>
		</article>
		<article class="home-appliances">
			<div class="photo-container">
			<img  class="photo" src="/images/Helad y lavad/lavarropa w2.jpg" alt="lav2">
		</div>
			<p>Precio online: $85.499,10</p>
			<p>5% OFF</p>
			<p>LAVARROPAS AUTOMATICO WHIRLPOOL WWI16CS 10 PLATEADO</p>
		</article>
		<article class="home-appliances">
			<div class="photo-container">
			<img  class="photo" src="/images/Helad y lavad/hela chica.webp" alt="img-panel">
		</div>
			<p>Precio online: $ 53.099,00</p>
			<p>10% OFF</p>
			<p>Heladera Whirlpool WRA09B1 76 Lts Retro Negra</p>
		</article>
    

	</section>

    
</body>
</html>