<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<header>
    <div class="main-header">
        <nav class="navigation-bar" id="navigation-bar-mobile">

       
            <!-- Buscador mobile -->

            <form action="#" class="search-form-mobile" id="search">

                <input type="search" name="busqueda" id="" placeholder="Buscar producto...">
                <button type="submit"><i class="fas fa-search"></i></button>

            </form>
        </nav>
        <div class="logo">
            <a href="home"><img src="/images/logo.jpeg" alt=""></a>
        </div>

        <a class="user-login" href="login">
        <i class="far fa-user-circle user-login"></i></a>
        <!-- Menú de navegación mobile-->
       


        <div>
            <form action="">
                <div class="container">
                  
                    <div class="btn-menu">
                        <label for="btn-menu" class="burguer-menu-icon">☰</label>
                  
                <input type="checkbox" id="btn-menu">
                <div class="container-menu">
                    <div class="cont-menu">
                        <nav>
                            <a href="productDetail">TV y Sonido</a>
                            <a href="productDetail">Heladeras y Lavado</a>
                            <a href="productDetail">Climatización</a>
                            <a href="productDetail">Pequeños Electros</a>
                            <a href="enConstrucion">Contacto</a>
                           
                        </nav>
                        <div> <label for="btn-menu">✖️ </label>
                        </div>
                    </div>
                </div>
            </form>
        </div>

    </div>

</header>
<body >
    <div class="form-container">
        <h2>Ingresa a Mi cuenta</h2>
       
        <form action="" method="">
            <div class="form">
                <div class="input-container">
                    <label>E-mail:</label>
                    <input class="input-style" type="email" name="email" >
                    <span class="error-message">Debe ingresar su email</span>
                </div>
                <div class="input-container">
                    <label>Contraseña:</label>
                    <input class="input-style" type="password" name="pass" >
                    <span class="error-message">Debe ingresar su contraseña</span>
                </div>

                <span class="qp"><a href="enConstrucion">¿Olvidaste tu contraseña?</a></span>
               
                <div class="check-remember">
                    <label for="remember">  Recordarme </label>
                    <input type="checkbox" name="remember" id="remember">                     
                </div>

                <div class="button-container">
                    <span class="error-message">Credenciales inválidas</span>
                    <button type="submit" class="btn btn-submit">Ingresar</button>
                </div>
                
                <span><a href="register">Aún no tengo cuenta</a></span>
            </div>
        </form>
    </div>
</body>
</html>