.input-file-container{
    width: -moz-fit-content;
    cursor: pointer;
    height: 175px;
    width:  130px;   
    position: relative; 

}
  .add-new-photo{
    display: flex;
    align-items: center; 
    cursor: pointer;  
    position: absolute; 
    width: 120px;
    height: 150px;
}   

#avatar-box{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.login .profile-box{
    display: flex;
    flex-wrap: wrap;
}
.img-user-avatar{
    position: absolute;
    z-index: 1;
}
.img-r-avatar{
    z-index: 2;
    height: 100%;


}

.login .profile .button-container {
    flex-direction: row;
    margin-top: 2rem;
    gap: 20px;
    justify-content: center;
}

.profile-form .profile-box .profile-subtitle{
    padding-top: 15px;
  
}
/* 
.input-api{
    border-radius: 0.5rem;
    height: 2.5rem;
    padding: 0.5rem;
    background-color: white;
    border: 1px solid black;
    margin-left: 15px;
    width: 90%;
    height: 43px; 
   
} */
#citiesList{
    width: 315px;
}
#provinceList{
    width: 90%;
}
#provinceList,
#citiesList{
   /*  border-style: none; */
   border-radius: 0.5rem;
   height: 2.5rem;
   padding: 0.5rem;
   background-color: white;
   border: 1px solid black;
   margin-left: 15px;
  /*  width: 90%; */
   height: 39px; 
 /*   border-style: none; */
}

.login .form-container h2{
    font-size: medium;
}

.login .form-container a{
    font-size: small;
    text-decoration: underline;
    color: darkblue;
}


.login .form-container b{
    font-size: medium;
}

.input-container .selec-city{
    border-radius: 0.5rem;
    height: 2.5rem;
    padding: 0.5rem;
    border: 1px solid black;
}

.pre-img{
    display: none;
}

.thumb{
   width:  100%;
    height: 100%;
    border: 1px solid #000;
    object-fit: cover;
}
.is-invalid{
  border: 1px solid red;

}
.is-valid{
    border: 1px solid green;
}