.home-m {
    max-width: 1200px;
    margin: 0 auto;
  
}

@keyframes mancha {
     0% {
        opacity: 0;
     }   

     100% {
        opacity: 0.5;
     }
}



/* OFERTAS */

.special-offers {
    background: linear-gradient(95deg, black, #008f74);
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 30px;
}

.section__title {
    font-family: roboto;
    margin-bottom: 25px;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
}

@media screen and (min-width: 768px) {
    .special-offers {
        margin-bottom: 70px;
    }
    
    .section__title {
        margin-bottom: 35px;
        font-size: 2rem;
    }
    
}

/* CATEGORIAS */

@keyframes category {
    0% {
        transform: rotate(-1deg);
    }

    50% {
        transform: rotate(1deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.categories-section {
    width: 100%;
    padding: 20px;
}

.categoriesH {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.category-card {
    width: 100%;
    border-radius: 10px;
    margin: 20px 10px;
    transition: all 1s ease;
    box-shadow: 0 0 5px var(--primary);
    background-color: white;
    border: 4px solid black;
    
}

.categories-section .categoriesH .category-card{
    position: relative;
}
.categories-section .categoriesH .category-card .fondo {
    position: absolute;
    left: 0;
    top: 48%;
    width: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
    text-transform: uppercase;
    color: white;
}

.category-card:hover{
    transform: scale(1.05);
    box-shadow: 0 0 20px var(--primary);
}

.category-card img{
    width: 100%;
    border-radius: 20px;
}

.banner {
    background: linear-gradient(45deg, transparent, white);
    padding: 20px;
    margin: 50px 0;
    width: 100%;
    margin-bottom: 100px;
}

.banner img {
    width: 100%;
}

@media screen and (min-width: 768px) {
    .categories-section {
        padding: 70px;
    }
    .categoriesH {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
       
    }

    .category-card {
        width: 30%;
    }
}