.productDetail-container {
    display: flex;
    flex-direction: column;
    font-family: roboto;
    max-width: 1000px;
    margin: 0 auto;
    ;
}

.productDetail {
    background-color:white ;
    display: flex;
    flex-direction: column;
    padding: 10px;
    color: black;
    border-radius: 10px;
    margin: 10px;
    border: 1px solid black;
}

.productDetail img {
    width: 100%;
}

.productDetail .images-container {
    display: flex;
}

.productDetail .images-container .thumbnailImages{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 30%;
    padding: 5px;
}

.productDetail .images-container .thumbnailImages img {
    box-shadow: 0 0 5px rgba(0,0,0,0.2 );
    margin: 5px 0;
    border-radius: 10px;
    
}

.productDetail .images-container .mainImage {
    width: 70%;
    object-fit: cover;
}

.productDetail .images-container .mainImage img {
    height: 100%;
    object-fit: contain;
    border-radius: 10px;
}

.productDetail .productData-container {
    width: 100%;
    display: flex;
    color: black;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2 );
    padding: 10px;
    border-top: 1px solid black;
}

.productDetail  .productData-container .counter {
    display: flex;
    padding: 5px 20px;
    justify-content: space-between;
    align-items: center;
    width: 7rem;
    border: 1px solid black;
    border-radius: 15px;
    background-color: white;
}

.productDetail  .productData-container  .counter button {
    background-color: white;
    border: none;
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
}

.productDetail  .productData-container .productNumber {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.productDetail  .productData-container .productName {
    margin: 15px 0;
    color: black;
}

.productDetail  .productData-container .productPrice {
    font-size: 1.5rem;
    color: black;
}

.productDetail  .productData-container .button-addToCart {
    padding: 20px 0;
    display: flex;
    justify-content: center;
    border-radius: 0.5rem;
    cursor: pointer;
    height: 2.5rem;
    margin: 5px;
    text-transform: uppercase;
    width: 12rem;
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
    color: black;
}


.productDetail  .productData-container .button-addToCart .btn-ad-btn-ad-primary{
width: fit-content;
width: -moz-fit-content;
background: var(--green);
transition: all 2s ease;
}

.productDetail-container .productDescription {
    display: flex;
    color: black;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    border: 1px solid black;
    background: white;
    border: 1px solid white;
}

.productDetail-container .productDescription .description h5{
    font-size: 1.2rem;
    margin-bottom: 20px;
    text-align: center;
}

.productDetail-container .productDescription .description p{
    font-size: 1rem;
    margin-bottom: 20px;
    padding-bottom: 20px;
    text-align: justify;
    border-bottom: 1px solid black;
    color: black;
}

.productDetail-container .productDescription .comments h5{
    font-size: 1.2rem;
    margin-bottom: 20px;
    text-align: center;
}

.productDetail-container .productDescription .comments .comment {
    background:  white;
    padding: 10px;
    border-radius: 10px;
    color: black;
}

.opioniones {
    color: black;
}

.productDiscountd {
   padding: 5px;
   background-color: red;
   color: white;
   border-radius: 0px 10px 0px 10px;
   font-size: 15px;
}

/* MEDIA QUERIES */

/* Tablet */

@media screen and (min-width: 768px) {
    .productDetail {
        flex-direction: row-reverse;
        padding: 10px;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.2 );
        border-radius: 10px;
        margin: 10px;
        border: 1px solid black;
    }

    .productDetail .productData-container {
        width: 40%;
        display: flex;
        color: black;
        justify-content: space-evenly;
        align-items: center;
        box-shadow: none;
        padding: 25px;
        border-right: 1px solid black;
        border-radius: 0;
        border-top: none;
        flex-wrap: wrap-reverse;
    }

    .opioniones {
        color: black;
    }

    .productDetail  .productData-container .productName {
        font-size: 1.5rem;
        color: black;
    }

    .productDetail  .productData-container .productPrice {
        font-size: 2rem;
        color: black;
    }

    .productDetail-container .productDescription .description h5{
        font-size: 1.5rem;
    }
    
}
