* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
  }
  root{
        --font-primary:'Roboto', sans-serif;
        --blacklight: #232323;
        --black: #0000;
        --white: #ffff;
        --lightGray: #D6D5D5;
        --green:#008F74;
    }
  
 .container-detail{
     display: block;
     

 } 
 .row{
     background-color:#8f9291 ;

 }
 .container-detail a{
     background-color:#8f9291 ;
     display: block;
    --font-primary:'Roboto', sans-serif;
    color:black;
    text-decoration:none;
    margin:10px 10px 8px 16px;
    box-sizing: border-box;
    padding: 5px;
    text-align: center;
 }
  .card-title{
    --font-primary:'Roboto', sans-serif;
    color: black;
    background-color:#D6D5D5 ;

 }
 .card-text{
    --font-primary:'Roboto', sans-serif;
    color: black;
    background-color:#D6D5D5 ;
 }
 .list-group  li{
    --font-primary:'Roboto', sans-serif;
    color: black;
    background-color:#D6D5D5 ;
 }
 

 
  
  

