/*aca solo para registro */

.register .check {
    width: 100%; 
}
.form-container h2{
    font-weight: bold;
    height: 44px;
    padding: 5px;
}  

 .check-remember {
  margin: 15px 0 0 12px;
 
 }   





    a{
        color: darkblue;
        font-size: 0.8rem;
text-decoration: none;

    }

    h2{
         margin-bottom: 1rem;    
         font-weight: lighter;
         font-size: 1rem;
         height: 30px;
         border-bottom: 1px solid black;
    }
h2 a{
    color: darkblue;
    font-size: 1rem;
    text-decoration: underline;
 


}

.form {
 /*para que este uno debajo del otro*/
 display: flex;
 flex-direction: column;
 justify-content: center;/*centro todo los elementos sobre el main axis*/
 align-items: center;/*centro todo los elementos sobre el cross axiss*/
}

.form-container{
    background:var(--green);
border-radius: 10px;
margin: 0 auto;
width: 100%;
height: fit-content; /*la altura se adapte al contenido */
height: -moz-fit-content;
padding: 1rem;
box-shadow: 0 0 6px black;
}

/*******************/
/* form input*/
/******************/

.input-container,
.button-container {
    display: flex;
    flex-direction: column;
    margin: 1rem 1rem;
    width: 100%;

}

span.error-message{
    color: red;
    font-size: 0.8rem;
    margin: 5px auto 0;
display: none;
}

input.input-style {
    border: none;/*se saca el borde con el que viene*/
    border-radius: 0.5rem;
height: 2.5rem;
padding: 0.5rem;
border: 1px solid black;
/*aca se puede cambiar el color de la letra*/
}

input.input-style::placeholder {
    color: lightgrey;
} 

.input-file-contairner {
background-color: white;
border-radius: 1rem;
height: 2.5rem;
padding: 0.5rem;
display: flex;
flex-direction: column;
margin-bottom: 1rem;
width: 100%;
}

select.input-select{
border: none;
border-radius: 1rem ;
height: 2.5rem;
padding: 0.5rem;

}/*selector de etiqueta*/

input.input-style:focus,
select.input-select:focus {
box-shadow:0 0 6px white ;/*con esto ilumina el campo al rededor de input*/
outline: none;
}/*para que no aparezca el borde de color en los input que da por defecto el buscador ejemplo google naranja, firefox azul, asi no aparece nada*/

label {
font-size: 0.9rem;
padding-bottom: 0.1rem;
font-weight: 550;
}

.qp{
    width: 100%;
display: flex;
justify-content: flex-end;
}

.qp a{
color: var(--blacklight);
text-decoration: underline;
font-weight: lighter;

}
/*botones*/
.button-container{
    align-items: center;/*para aliniar al cross axis*/
  
}

.btn {
border-radius: 0.5rem;
cursor: pointer;/*va a genererar que cuando pase por el elemnto aparezca la manito insinuando que se ´puede clickear*/
height: 2.5rem;
text-transform: uppercase;
width: 12rem;
 border: 1px solid black;
}/*para establecer la base la forma del los botonoes*/

.btn-submit {
    background: var(--lightGray);
color: var(--blacklight);

transition: all 1s ease; /*all es a todo los elementos que va a cambiar*/
}

.btn-submit:hover {
    color:var(--green);
/*     box-shadow: -5px -5px 10px rgb(255, 255, 255, 0.7); */
    background: var(--white);
 
}
.btn-reset {
    background:  linear-gradient(45deg, rgba(255,255,255,1) 0%,  rgba(39, 151, 255, 0.5) 50%);
    color: rgb(75, 75, 75);
    font-weight: bold;
    transition: all 1s ease;
}

.btn-reset:hover {
    color: rgb(172, 172, 172);
    box-shadow: -5px -5px 10px rgb(255, 255, 255, 0.7);
    background: linear-gradient(285deg, rgba(255,255,255,0.5) 0%,  rgba(39, 151, 255, 0.5) 50%);
    transition: all 1s ease;
}

.btn-edit {
    background:  linear-gradient(45deg, rgba(255,255,255,1) 0%,  rgba(43, 236, 124, 0.5) 50%);
    color: rgb(75, 75, 75);
    font-weight: bold;
}

.btn-edit:hover {
    color: rgb(172, 172, 172);
    box-shadow: -5px -5px 10px rgb(255, 255, 255, 0.7);
    background: linear-gradient(285deg, rgba(255,255,255,0.5) 0%,  rgba(43, 236, 124, 0.5) 50%);
}


/*check*/

.check {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px 0 0 0;
    width: 100%;
}




.check label {
    margin-right: 10px;
    min-width: 202px;
padding: 0;
margin: 0 5px 0 0;
}
.check input[type ="checkbox"]  {
position: relative;
bottom: -1px;
}/*para acomodar el input tipo check*/



/**************/
/*media queries*/
/*tablet*/

@media screen and(min-width: 475px){
    .input-container,
    .button-container{
        width: 90%;

    }
    
    .form-container{
        width: 75%;
    }
}
@media screen and(min-width: 768px){
    .input-container,
    .button-container{
        width: 80%;

    }
    
    .form-container{
        width: 20rem;/*(640px)*/
    }
}