.shoppingCart {
  font-family: var(--roboto);
  background-image: url(/images/40-409499_material-wallpaper-4k.jpg);
    background-size: cover;
    margin-bottom: 100px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
.shoppingCart .item {
  border: 2px solid white;
  padding: 10px;
  border-radius: 20px;
  background-color: black;
}

.shoppingCart .item-title {
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  color: white;
}

.shoppingCart .item-image {
  height: 300px;
  width: 70%;
  display: block;
  margin: auto;
  border-radius: 12px;
}

.shoppingCart .item-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0px 15px;
}

.shoppingCart .item-details > .item-price {
  margin: 0;
  color: var(--white);
}

/* ? SHOPPING CART */
.shoppingCart .shopping-cart-items {
  padding: 20px 0px;
}

/*  */
.shoppingCart .shopping-cart-image {
  max-width: 80px;
  border-radius: 20px;
 
}

.shoppingCart .shopping-cart-quantity-input {
  max-width: 45px;
  border: 1px solid #008F74;
  border-radius: 5px;
  background: #f6f6f6;
  padding: 5px;
}

.shoppingCart .shopping-cart-total {
  min-height: 96px;
}

.shoppingCart h1,
.shoppingCart h6
{
  border-bottom: 1px solid white;
  color: white;
}