 /*lucho*/
@import url('carousel.css');
@import url('home.css');
@import url('product-slider.css');
@import url('categorias.css');



/*vilma*/

@import url('footer.css');
@import url('productDetail.css');



/*yami*/
@import url('variables.css');
@import url('general.css');
@import url('header.css');
@import url('shoppingCart.css');
@import url('login.css');
@import url('register.css');
@import url('productDetail.css');
@import url('footer.css');
@import url('productSlider.css');
@import url('enConstruccion.css');
@import url('editProfile.css');
@import url('productLoading.css');
@import url('termsYConditions.css');
@import url('contact.css');


* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}