.userProfile {
    font-family: var(--font_poppins);
    margin: 0 auto;
    max-width: 900px;
    border-radius: .8rem;
    padding: 2rem .5rem;
    max-width: 380px;
    background:#008F74;
border-radius: 10px;
margin: 20px auto;
width: 100%;
height: fit-content; 
height: -moz-fit-content;
padding: 1rem;
box-shadow: 0 0 6px black;
}

.userProfile .avatar{
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    background-color:white;
    margin: 1rem auto;
}

.userProfile .avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}


.userProfile-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0px 0px 10px rgb(59 58 58);;
    padding: 1rem;
    border-radius: .8rem;
}

.userProfile_box {
    margin: 1rem 0;
   
}

.userProfile_box .userProfile_item{
    font-size: 15px;
}
.btn12{
    place-self: center; 
}
.button-userProfile1{
    background-color: #d6d5d5;
    font-family:cursive;

}
.button-userProfile2{
    background-color: #d6d5d5;
    font-family:cursive;

}

.userProfile_title {
    border-bottom: 1px solid var(--primary);
    margin-bottom: 1rem;
    
}

.userProfile_item {
    margin: 1rem 0;
    
}

/*botones*/
.btn-ad-btn-ad-primary{
    align-items: center;
}

.btn-ad-btn-ad-primary{
border-radius: 0.5rem;
cursor: pointer;
height: 2.5rem;
margin: 5px;
text-transform: uppercase;
width: 12rem;
 border: 1px solid black;
}

.btn-ad-btn-ad-primary{
 background: #F6F6F6; 
color: #232323;
transition: all 1s ease; 
}

.btn-ad-btn-ad-primary:hover{

    background:#d6d5d5;
    border: 1px solid white;
 
}


@media screen and (min-width: 768px) {
    .userProfile {
        font-size: 1.2rem;
    }

    .userProfile-container {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1rem;
    }

    .userProfile_box {
        width: 47%;
    }
}