<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>error</title>
</head>
<body background="/images/404f.gif"></body>>
<a href="/">
    <div aling="center"><img  width="520" height="320" src="/images/404.png" alt="error" >
   </div>
</a>
</body>
</html>