<!DOCTYPE html>
<html lang="es">
    <%- include('../partials/head') %>
<body class="login">
    <%- include('../partials/header.ejs')  %>
    <div class="form-container">
        <h2><b> Editar mi perfil</b>│¿Ya tenes cuenta? <a href="login">Ingresá</a></h2>
        
            <form action="" method="">
                <div class="profile-box">
                    <h4 class="profile-subtitle">Avatar</h4>
                    <div class="avatar">
                        
                    </div>
                    <div class="input-file-container">
                        <input type="file" name="" id="">
                    </div>
                </div>
                <div class="profile-form">
                    
                    <div class="profile-box">
                        <h4 class="profile-subtitle">Datos personales</h4>
                            <div class="input-container">
                                <label>E-mail:</label>
                                <input class="input-style" type="email" name="email"  value="user.email@mail.com" > <!-- readonly  -->
                            </div>
                            <div class="input-container">
                                <label>Nombre:</label>
                                <input class="input-style" type="text" name="name" >
                                <span class="error-message">Debe ingresar su nombre</span>
                            </div>
                            <div class="input-container">
                                <label>Apellido:</label>
                                <input class="input-style" type="text" name="lastname">
                                <span class="error-message">Debe ingresar su apellido</span>
                            </div>
                          
                            <div class="input-container">
                                <label>DNI:</label>
                                <input class="input-style" type="number" name="dni">
                                <span class="error-message">Debe ingresar un DNI válido</span>
                            </div> 
                    </div>
                    <div class="profile-box">
                        <h4 class="profile-subtitle">Datos de contacto</h4>
                        <div class="input-container">
                            <label>Teléfono:</label>
                            <input class="input-style" type="tel" name="tel" >
                        </div>
                         <div class="input-container">
                            <label>Pais:</label>
                                <input class="input-style" type="text" name="country" >
                                <span class="error-message">Debe ingresar un pais</span>
                            </div>
                            <div class="input-container">
                                <label>Provincia:</label>
                                    <input class="input-style" type="text" name="Province" >
                                    <span class="error-message">Debe ingresar un provincia</span>
                                </div>
                            <div class="input-container">
                                <label>Ciudad:</label>
                                <input class="input-style" type="text" name="city" >
                                <span class="error-message">Debe ingresar una ciudad</span>
                            </div>
                            <div class="input-container">
                                <label>Codigo Postal:</label>
                                <input class="input-style" type="code" name="code" >
                            </div>
                            <div class="input-container">
                                <label>Calle:</label>
                                <input class="input-style" type="text" name="Street" >
                                <span class="error-message">Debe ingresar un calle</span>
                            </div>
                            <div class="input-container">
                                <label>Piso o departamento:</label>
                                <input class="input-style" type="text" name="flat or apartment" >
                                <!-- <span class="error-message">Debe ingresar un calle</span> -->
                            </div>
                            <div class="input-container">
                                <label>Número:</label>
                                <input class="input-style" type="number" name="number" >
                                <span class="error-message">Debe ingresar un número</span>
                            </div>
                           
                        
                 
                    </div> 
                </div> 
                <div class="button-container">
                    <button type="reset" class="btn btn-submit">Reset</button>
                    <button type="submit" class="btn btn-submit">Guardar</button>
                </div>
                
            </form>
    </div>
    <%- include('../partials/footer.ejs')  %>
</body>
</html>