<!DOCTYPE html>
<html lang="es">

    <%- include('../partials/head') %>

<body>
    <%- include('../partials/header.ejs')  %>
    <div class="travolta">
        <a href="/">
            <img src="/images/123.webp" alt="">
        </a>
    </div>
    <script src="/js/enConstruccion.js"></script>
    <%- include('../partials/footer') %>
</body>

</html>