<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" type ="text/css" href="/css/footer.css">
    <script src="https://kit.fontawesome.com/64afb4feab.js" crossorigin="anonymous"></script>
    <title>Footer</title>
</head>
<body>
 
    <footer class="footer">
        <div class="container-fluid contenedor-fluid">

            <div class="row contenedor">
                <div class="lo-footer">
                    <img class="im" src="/images/logo/logo.jpeg" alt="">
                </div>

                <div class="navegacion">
                    <h4>Categorias</h4>

                    <div>
                        <ul>
                            <li><a href="tvYSonido">Tv y sonido</a></li>
                            <li><a href="climatizacion">climatizacion</a></li>
                        </ul>
                        <ul>
                            <li><a href="electro">pequeños electro</a></li>
                            <li><a href="heladeraYLavado">heladera y lavado</a></li>
                        </ul>
                    </div>
                </div>
                <hr class="border">
                <div class="pagos">
                    <h4>Medios de pago</h4>
                    <div class="pagos-images">
                        <div class="imagen">
                            <img src="/images/footer/visa.png" alt="Visa">
                        </div>
                        <div class="imagen">
                            <img src="/images/footer/ml.png" alt="Mercado Pago">
                        </div>
                        <div class="imagen">
                            <img src="/images/footer/mastercard.png" alt="Matercard">
                        </div>
                    </div>
                </div>
                <hr class="border">
                <div class="contacto">
                    <h4>Contacto</h4>
                    <div>

                        <ul>
                            <li><a href="">electrohouse@gmail.com</a></li>
                            <li><a href="">Teléfono:11-5555-5555</a></li>
                        </ul>
                        <ul>
                            <li><a href="/contact">Sucursales</a></li>
                        </ul>
                    </div>
                    <ul class="social">
                        <li><a href=""><img src="/images/footer/whatsapp.svg" alt="whatsapp"></a></li>
                        <li><a href=""><img src="/images/footer/twitter.svg" alt="twitter"></a></li>
                        <li><a href=""><img src="/images/footer/facebook.svg" alt="facebook"></a></li>
                        <li><a href=""><img src="/images/footer/instagram.svg" alt="instagram"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>