<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" type ="text/css" href="/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/64afb4feab.js" crossorigin="anonymous"></script>
    <title>Detalle de producto</title>
        <!-- FONT AWESOME iconos dentro de la pagina-->
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

   
    <!--iconos de pestaña-->
<link rel="apple-touch-icon" sizes="57x57" href="/images/favicons/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/images/favicons/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/images/favicons/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/images/favicons/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/images/favicons/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/images/favicons/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/images/favicons/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/images/favicons/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/images/favicons/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="/images/favicons/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="/images/favicons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/images/favicons/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="/images/favicons/favicon-16x16.png">
<link rel="manifest" href="/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">

    
</head>
<body>
    <%- include('../partials/header.ejs')  %>
<div class="card">
<div class="row">
  <aside class="col-sm-5 border-right">
    <article class="gallery-wrap"> 
        <div class="img-big-wrap">
<div>
<div> <a href="#"><img src="/images/lavarropas dream.jpg"></a></div>
</div>
</div> 
</article> 

</aside>
<aside class="col-sm-7">
<article class="card-body p-5">
<h3 class="title mb-3">Lavarropas Dream</h3>

<p class="price-detail-wrap"> 
<span class="price h3 text-warning"> 
<span class="currency">$</span><span class="num">45000</span>
</span> 
<span>Al contado</span> 
</p> <!-- price-detail-wrap .// -->
<dl class="item-property">
<dt>Descripcion</dt>
<dd><p>El lavarropas Drean Next 8.12 está especialmente diseñado para mejorar toda la experiencia de lavado de ropa. Con una puerta de acceso frontal de tamaño extra grande, colocar las prendas es muy fácil. Gracias a la ubicación de su panel de control en el frente superior, cambiar programas y velocidades es súper sencillo. 
</p></dd>
</dl>
<dl class="param param-feature">
<dt>Modelo</dt>
<dd>Next 8.12 ECO </dd>
</dl>  <!-- item-property-hor .// -->
<dl class="param param-feature">
<dt>Color</dt>
<dd>Blanco</dd>
</dl>  <!-- item-property-hor .// -->
<dl class="param param-feature">
<dt>Envios</dt>
<dd>Todo el pais</dd>
</dl>  <!-- item-property-hor .// -->

<hr>
<div class="row">
<div class="col-sm-5">
    <dl class="param param-inline">
      <dt>Cantidad: </dt>
      <dd>
          <select class="form-control form-control-sm" style="width:70px;">
              <option> 1 </option>
              <option> 2 </option>
              <option> 3 </option>
          </select>
      </dd>
</dl>  <!-- item-property .// -->
</div> <!-- col.// -->
<div class="col-sm-7">
          
</div> <!-- row.// -->
<hr>
<a href="enConstrucion" class="btn btn-lg btn-primary text-uppercase"> Comprar ahora </a>
<a href="shoppingCart" class="btn btn-lg btn-outline-primary text-uppercase"> <i class="fas fa-shopping-cart"></i> Agregar a Carrito </a>
</article> <!-- card-body.// -->
</aside> <!-- col.// -->
</div> <!-- row.// -->
</div> <!-- card.// -->


</div>


</article>

<%- include('../partials/footer.ejs')  %>
    
</body>
</html>