<footer class="footer">
    <div class="container-fluid contenedor-fluid">

        <div class="row contenedor">
            <div class="lo-footer">
                <img class="im" src="/images/logo/logo.jpeg" alt="">
            </div>

            <div class="navegacion">
                <h4>Categorias</h4>

                <div>
                    <ul>
                        <li><a href="/products/category/1">Tv y sonido</a></li>
                        <li><a href="/products/category/3">climatizacion</a></li>
                    </ul>
                    <ul>
                        <li><a href="/products/category/4">pequeños electro</a></li>
                        <li><a href="/products/category/2">heladera y lavado</a></li>
                    </ul>
                </div>
            </div>
            <hr class="border">
            <div class="pagos">
                <h4>Medios de pago</h4>
                <div class="pagos-images">
                    <div class="imagen">
                        <img src="/images/footer/visa.png" alt="Visa">
                    </div>
                    <div class="imagen">
                        <img src="/images/footer/ml.png" alt="Mercado Pago">
                    </div>
                    <div class="imagen">
                        <img src="/images/footer/mastercard.png" alt="Matercard">
                    </div>
                </div>
            </div>
            <hr class="border">
            <div class="contacto">
                <h4>Contacto</h4>
                <div>

                    <ul>
                        <li><a href="mailto:electrohouse.g4@gmail.com">electrohouse.g4@gmail.com</a></li>
                        <li><a href="https://wa.me/+541155555555">Teléfono:11-5555-5555</a></li>
                    </ul>                  
                </div>
                <ul class="social">
                    <li><a href=" https://wa.me/+541155555555"><img src="/images/footer/whatsapp.svg" alt="whatsapp"></a></li>
                    <li><a href="https://twitter.com/electro67225011"><img src="/images/footer/twitter.svg" alt="twitter"></a></li>
                    <li><a href="https://www.facebook.com/"><img src="/images/footer/facebook.svg" alt="facebook"></a></li>
                    <li><a href="https://www.instagram.com/electrohouseg4c8/?hl=es"><img src="/images/footer/instagram.svg" alt="instagram"></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>