<header>
<div class="main-header">
    <nav class="navigation-bar" id="navigation-bar-mobile">


        <!-- Buscador mobile -->

        <form action="#" class="search-form-mobile" id="search">

            <input type="search" name="busqueda" id="" placeholder="Buscar producto...">
            <button type="submit"><i class="fas fa-search"></i></button>

        </form>
    </nav>
    <div class="logo">
        <a href="/"><img src="/images/logo/logo.jpeg" alt=""></a>
    </div>
    <div class="login-cart">
        <a class="user-login" href="login">
            <i class="far fa-user-circle user-login"></i></a>
        <a class="shopping-cart" href="shoppingCart">
            <i class="fas fa-shopping-cart shopping-cart"></i></a>
    </div>
    <!-- Menú de navegación mobile-->

    <div>
        <form action="">
            <div class="container">

                <div class="btn-menu">
                    <label for="btn-menu" class="burguer-menu-icon">☰</label>

                    <input type="checkbox" id="btn-menu">
                    <div class="container-menu">
                        <div class="cont-menu">
                            <nav>
                                <a href="/src/views/user/tvYSonido">TV y Sonido</a>
                                <a href="/src/views/user/heladeraYLavado">Heladeras y Lavado</a>
                                <a href="/src/views/user/climatizacion">Climatización</a>
                                <a href="/src/views/user/electro">Pequeños Electros</a>
                                <a href="/src/views/user/enConstruccion">Contacto</a>

                            </nav>
                            <div> <label for="btn-menu">✖️ </label>
                                <a href="shoppingCart">
                                    <i class="fas fa-shopping-cart"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

</div>

</div>
<!-- version escritorio-->
<section class="version-desktop">
    <div class="list-container">
        <ul>
            <li> <a href="tvysonido">TV y Sonido</a></li>
            <li><a href="heladeraYLavado">Heladeras y Lavado</a></li>
            <li> <a href="climatizacion">Climatización</a></li>
            <li><a href="electro">Pequeños Electros</a></li>
            <li><a href="enConstruccion">Contacto</a></li>
        </ul>
    </div>
</section>

</header>











