<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="/admin/">ELECTRO HOUSE</a>

  <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse"
    data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <form action="/search" method="GET" class="search-form-mobile form-control-dark w-100" id="search">
    <input class="form-control form-control-dark w-100" name="keywords" id="" type="text" placeholder="Buscar.."
      aria-label="Search">
  </form>
  <div class="navbar-nav">
    <div class="nav-item text-nowrap">

      <a class="btn btn-primary" href='/users/logout'>Salir</a>
    </div>
  </div>
</header>