 <!-- SPECIAL OFFERS -->

 <section class="special-offers">
    <marquee class="title" behavior="ALTERNATE">ENVIOS GRATIS</marquee>
    <h3 class="section__title">Aprovechá las ofertas destacadas</h3>

    <!-- Product Slider -->

    <div class="gallery productSlider js-flickity" data-flickity-options='{ "wrapAround": true }'>
        <div class="carousel-cell  productSlide">
            <div class="productDiscount">15% OFF</div>
            <img src="/images/ofertas/H.prueba.Home.webp" alt="">
            <p class="productName">Nombre del producto</p>
            <h4 class="productPrice">$1530</h4>
        </div>
        <div class="carousel-cell productSlide">
            <div class="productDiscount">15% OFF</div>
            <img src="/images/ofertas/H.prueba.Home.webp" alt="">
            <p class="productName">Nombre del producto</p>
            <h4 class="productPrice">$1530</h4>
        </div>
        <div class="carousel-cell productSlide">
            <div class="productDiscount">15% OFF</div>
            <img src="/images/ofertas/H.prueba.Home.webp" alt="">
            <p class="productName">Nombre del producto</p>
            <h4 class="productPrice">$1530</h4>
        </div>
        <div class="carousel-cell productSlide">
            <div class="productDiscount">15% OFF</div>
            <img src="/images/ofertas/L.prueba.Home.webp" alt="">
            <p class="productName">Nombre del producto</p>
            <h4 class="productPrice">$1530</h4>
        </div>
        <div class="carousel-cell productSlide">
            <div class="productDiscount">15% OFF</div>
            <img src="/images/ofertas/L.prueba.Home.webp" alt="">
            <p class="productName">Nombre del producto</p>
            <h4 class="productPrice">$1530</h4>
        </div>
        <div class="carousel-cell productSlide">
            <div class="productDiscount">15% OFF</div>
            <img src="/images/ofertas/L.prueba.Home.webp" alt="">
            <p class="productName">Nombre del producto</p>
            <h4 class="productPrice">$1530</h4>
        </div>
        <div class="carousel-cell productSlide">
            <div class="productDiscount">15% OFF</div>
            <img src="/images/ofertas/L.prueba.Home.webp" alt="">
            <p class="productName">Nombre del producto</p>
            <h4 class="productPrice">$1530</h4>
        </div>
        <div class="carousel-cell productSlide">
            <div class="productDiscount">15% OFF</div>
            <img src="/images/ofertas/panel.webp" alt="">
            <p class="productName">Nombre del producto</p>
            <h4 class="productPrice">$1530</h4>
        </div>
        <div class="carousel-cell productSlide">
            <div class="productDiscount">15% OFF</div>
            <img src="/images/ofertas/panel.webp" alt="">
            <p class="productName">Nombre del producto</p>
            <h4 class="productPrice">$1530</h4>
        </div>
        <div class="carousel-cell productSlide">
            <div class="productDiscount">15% OFF</div>
            <img src="/images/ofertas/panel.webp" alt="">
            <p class="productName">Nombre del producto</p>
            <h4 class="productPrice">$1530</h4>
        </div>
    </div>
</section>
<!-- END SPECIAL OFFERS -->