<!DOCTYPE html>
<html lang="es">

	<%- include('../partials/head') %> 


    
</body>

<body class="body-iteml" >

	<%- include('../partials/header') %> 
   <main>
    <marquee behavior="" direction=""><h2 class="titleCat">climatizacion</h2></marquee>

    <section class="hyl">
		

		
		<article class="carousel-cell  prodCat">
			<a href="productDetail">
			<div class="productDiscount">5% OFF</div>
			<img src="/images/climatizacion/rojo.webp" alt="">
			<p class="productName">Vitrocalefactor Axel Rojo Turbo 2000W</p>
			<h4 class="productPrice">$ 7.299</h4>
		</a>
		</article>
		


    

	</section>
</main>
	<%- include('../partials/footer') %>

    
</body>
</html>