<!DOCTYPE html>
<html lang="es">

	<%- include('../partials/head') %> 


    
</body>

<body class="body-iteml" >

	<%- include('../partials/header') %> 
   <main>
    <marquee behavior="" direction=""><h2 class="titleCat">climatizacion</h2></marquee>

    <section class="hyl">
		

		
		<article class="carousel-cell  prodCat">
			<a href="productDetail">
			<div class="productDiscount">5% OFF</div>
			<img src="/images/climatizacion/rojo.webp" alt="">
			<p class="productName">Vitrocalefactor Axel Rojo Turbo 2000W</p>
			<h4 class="productPrice">$ 7.299</h4>
		</a>
		</article>

		<article class="carousel-cell  prodCat">
			<a href="productDetail">
			<div class="productDiscount">5% OFF</div>
			<img src="/images/climatizacion/aire-hitachi.webp" alt="">
			<p class="productName">A/C Split Frío Hitachi 2236FC 2600W</p>
			<h4 class="productPrice">$ 45.999</h4>
		</a>
		</article>

		<article class="carousel-cell  prodCat">
			<a href="productDetail">
			<div class="productDiscount">30% OFF</div>
			<img src="/images/climatizacion/caloventor-liliana.webp" alt="">
			<p class="productName">Caloventor Liliana PTC617 1500W</p>
			<h4 class="productPrice">$ 3.999</h4>
		</a>
		</article>

		<article class="carousel-cell  prodCat">
			<a href="productDetail">
			<div class="productDiscount">5% OFF</div>
			<img src="/images/climatizacion/aire-portatil-philco.webp" alt="">
			<p class="productName">A/C Portátil F/C Philco PHP32H17PI 3500W</p>
			<h4 class="productPrice">$ 48.999</h4>
		</a>
		</article>
		


    

	</section>
</main>
	<%- include('../partials/footer') %>

    
</body>
</html>