<!DOCTYPE html>
<html lang="es">

	<%- include('../partials/head') %> 

<body >
 
	<%- include('../partials/header') %> 

    <h2>Pequeños electros</h2>

    <section class="offer">
		

		<article class="home-appliances">
			<div class="photo-container">
				<a href="productDetail"><img class="photo" src="/images/pequeños/cafetera.jpg" alt="cafetera"></a>
		</div>
			<p>Precio online: $19.990,00</p>
			<p>5% OFF</p>
			<p>CAFETERA NESPRESSO ESSENZA MINI BLACK</p>
		</article>
		<article class="home-appliances">
			<div class="photo-container">
				<a href="productDetail"><img class="photo" src="/images/pequeños/exprimidora.jpg" alt="exprimidora"></a>
		</div>
			<p>Precio online: $4.399,00</p>
			<p>10% OFF</p>
			<p>EXPRIMIDOR DE CITRICOS LILIANA AE921</p>
		</article>
		<article class="home-appliances">
			<div class="photo-container">
				<a href="productDetail"><img  class="photo" src="/images/pequeños/tostadora.jpg" alt="tostadora"></a>
		</div>
			<p>Precio online: $6.499,00</p>
			<p>5% OFF</p>
			<p>TOSTADORA MOULINEX LT2608-AR</p>
		</article>
		<article class="home-appliances">
			<div class="photo-container">
				<a href="productDetail"><img  class="photo" src="/images/pequeños/multiprocesadora.png" alt="img-panel"></a>
		</div>
			<p>Precio online: $13.499,10</p>
			<p>10% OFF</p>
			<p>MULTIPROCESADORA PHILIPS HR7636/00</p>
		</article>
    

	</section>
  
	<%- include('../partials/footer') %>

    
</body>
</html>