<!DOCTYPE html>
<html lang="es">

	<%- include('../partials/head') %> 



<body class="body-iteml" >

	<%- include('../partials/header') %> 
   <main>
    <marquee behavior="" direction=""><h2 class="titleCat">PEQUEÑOS ELECTRO</h2></marquee>

    <section class="hyl">
		

		
		<article class="prodCat">
			<a href="productDetail">
			<div class="productDiscount">5% OFF</div>
			<img src="/images/pequeños/cafetera.jpg" alt="">
			<p class="productName">CAFETERA NESPRESSO ESSENZA MINI BLACK</p>
			<h4 class="productPrice">$19.990,00</h4>
		</a>
		</article>
		

		<article class="prodCat">
			<a href="productDetail">
			<div class="productDiscount">10% OFF</div>
			<img src="/images/pequeños/exprimidora.jpg" alt="">
			<p class="productName">EXPRIMIDOR DE CITRICOS LILIANA AE921</p>
			<h4 class="productPrice">$4.399,000</h4>
		</a>
		</article>

		
		
		<article class="prodCat">
			<a href="productDetail">
			<div class="productDiscount">5% OFF</div>
			<img src="/images/pequeños/tostadora.jpg" alt="">
			<p class="productName">TOSTADORA MOULINEX LT2608-AR</p>
			<h4 class="productPrice">$6.499,00</h4>
		</a>
		</article>
          
		<article class="prodCat">
			<a href="productDetail">
			<div class="productDiscount">10% OFF</div>
			<img src="/images/pequeños/multiprocesadora.png" alt="">
			<p class="productName">MULTIPROCESADORA PHILIPS HR7636/00</p>
			<h4 class="productPrice">$13.499,10</h4>
		</a>
		</article>
    

	</section>
</main>
	<%- include('../partials/footer') %>

    
</body>
</html>