<!DOCTYPE html>
<html lang="es">

	<%- include('../partials/head') %> 



<body class="body-iteml" >

	<%- include('../partials/header') %> 
   <main>
    <marquee behavior="" direction=""><h2 class="titleCat">PEQUEÑOS ELECTRO</h2></marquee>

    <section class="hyl">
		

		
		<article class="prodCat">
			<a href="productDetail">
			<div class="productDiscount">5% OFF</div>
			<img src="/images/pequeños/cafetera-nespresso.webp" alt="">
			<p class="productName">cafetera-nespresso essenza Mini black</p>
			<h4 class="productPrice">$19.990,00</h4>
		</a>
		</article>
		

		<article class="prodCat">
			<a href="productDetail">
			<div class="productDiscount">10% OFF</div>
			<img src="/images/pequeños/expromidora-kenbrown.webp" alt="">
			<p class="productName">Exprimidor de jugo Ken Brown</p>
			<h4 class="productPrice">$4.399,000</h4>
		</a>
		</article>

		
		
		<article class="prodCat">
			<a href="productDetail">
			<div class="productDiscount">5% OFF</div>
			<img src="/images/pequeños/tostadora-moulinex.webp" alt="">
			<p class="productName">tostadora-moulinex LT2608-AR</p>
			<h4 class="productPrice">$6.499,00</h4>
		</a>
		</article>
          
		<article class="prodCat">
			<a href="productDetail">
			<div class="productDiscount">10% OFF</div>
			<img src="/images/pequeños/multiprocesadora-atma.webp" alt="">
			<p class="productName">Multiprocesadora con vaso Atma LP8425P</p>
			<h4 class="productPrice">$13.499,10</h4>
		</a>
		</article>
    

	</section>
</main>
	<%- include('../partials/footer') %>

    
</body>
</html>