<!DOCTYPE html>
<html lang="es">

	<%- include('../partials/head') %> 

<body class="body-iteml" >

	<%- include('../partials/header') %> 
   <main>
    <marquee behavior="" direction=""><h2 class="titleCat">Heladera y lavado</h2></marquee>

    <section class="hyl">
		

		
		<article class="carousel-cell  prodCat">
			<a href="productDetail">
			<div class="productDiscount">5% OFF</div>
			<img src="/images/Helad y lavad/lavarropas whirl.webp" alt="">
			<p class="productName">Lavarropas Whirlpool 9Kg WLF91AB</p>
			<h4 class="productPrice">$73.199</h4>
		</a>
		</article>
		

		<article class="carousel-cell  prodCat">
			<a href="productDetail">
			<div class="productDiscount">10% OFF</div>
			<img src="/images/Helad y lavad/heladera n.webp" alt="">
			<p class="productName">Heladera no frost Samsumng RT38K5932SL digital</p>
			<h4 class="productPrice">$134.999,00</h4>
		</a>
		</article>

		
		
		<article class="carousel-cell  prodCat">
			<a href="productDetail">
			<div class="productDiscount">5% OFF</div>
			<img src="/images/Helad y lavad/lavarropas whil 10.webp" alt="">
			<p class="productName">Lavarropas automatico WHIRLPOOL WWI16CS 10</p>
			<h4 class="productPrice">$85.499,10</h4>
		</a>
		</article>
          
		<article class="carousel-cell  prodCat">
			<a href="productDetail">
			<div class="productDiscount">10% OFF</div>
			<img src="/images/Helad y lavad/hela chica.webp" alt="">
			<p class="productName">Heladera Whirlpool WRA09B1 76 Lts Retro Negra</p>
			<h4 class="productPrice">$53.099,00</h4>
		</a>
		</article>
    

	</section>
</main>
	<%- include('../partials/footer') %>

    
</body>
</html>