<!DOCTYPE html>
<html lang="es">

	<%- include('../partials/head') %> 

<body >

	<%- include('../partials/header') %> 

    <h2>Heladera y lavado</h2>

    <section class="offer">
		

		<article class="home-appliances">
			<div class="photo-container">
		<a href="productDetail">	<img class="photo" src="/images/Helad y lavad/lavarropas whirl.webp" alt="cafetera"></a>
		</div>
			<p>$ 73.199</p>
			<p>5% OFF</p>
			<p>Lavarropas Sense Inverter Whirlpool 9Kg 1200 RPM WLF91AB</p>
		</article>
		<article class="home-appliances">
			<div class="photo-container">
				<a href="productDetail"><img class="photo" src="/images/Helad y lavad/heladera samsung.png" alt="heladera"></a>
		</div>
			<p>Precio online: $134.999,00</p>
			<p>10% OFF</p>
			<p>HELADERA NO FROST SAMSUNG RT38K5932SL DIGITAL</p>
		</article>
		<article class="home-appliances">
			<div class="photo-container">
				<a href="productDetail">	<img  class="photo" src="/images/Helad y lavad/lavarropa w2.jpg" alt="lav2"></a>
		</div>
			<p>Precio online: $85.499,10</p>
			<p>5% OFF</p>
			<p>LAVARROPAS AUTOMATICO WHIRLPOOL WWI16CS 10 PLATEADO</p>
		</article>
		
		<div class="carousel-cell  productSlide">
			<a href="productDetail">
			<div class="productDiscount">5% OFF</div>
			<img src="/images/Helad y lavad/lavarropa w2.jpg" alt="">
			<p class="productName">LAVARROPAS AUTOMATICO WHIRLPOOL WWI16CS 10 PLATEADO</p>
			<h4 class="productPrice">Precio online: $85.499,10</h4>
		</a>
		</div>
          
		<div class="carousel-cell  productSlide">
			<a href="productDetail">
			<div class="productDiscount">10% OFF</div>
			<img src="/images/Helad y lavad/hela chica.webp" alt="">
			<p class="productName">Heladera Whirlpool WRA09B1 76 Lts Retro Negra</p>
			<h4 class="productPrice">$ 53.099,00</h4>
		</a>
		</div>
    

	</section>

	<%- include('../partials/footer') %>

    
</body>
</html>