<!DOCTYPE html>
<html lang="es">
    <%- include('../partials/head') %>

<body class="login">
    <%- include('../partials/header.ejs')  %>
  
  
  

<main class="loginE">
    <div class="form-container">
        <h2>Ingresa a Mi cuenta</h2>
       
        <form action="" method="">
            <div class="form">
                <div class="input-container">
                    <label>E-mail:</label>
                    <input class="input-style" type="email" name="email" >
                    <span class="error-message">Debe ingresar su email</span>
                </div>
                <div class="input-container">
                    <label>Contraseña:</label>
                    <input class="input-style" type="password" name="pass" >
                    <span class="error-message">Debe ingresar su contraseña</span>
                </div>
                
                <span class="qp"><a href="enConstruccion">¿Olvidaste tu contraseña?</a></span>
               
                <div class="check-remember">
                    <label for="remember">  Recordarme </label>
                    <input type="checkbox" name="remember" id="remember">                     
                </div>

                <div class="button-container">
                    <span class="error-message">Credenciales inválidas</span>
                    <button type="submit" class="btn btn-submit">Ingresar</button>
                </div>
                
                <span><a href="register">Aún no tengo cuenta</a></span>
            </div>
        </form>
    </div>
</main>
    <%- include('../partials/footer.ejs')  %>

</body>
</html>