<!DOCTYPE html>
<html lang="es">

	<%- include('../partials/head') %> 

<body class="body-iteml" >

	<%- include('../partials/header') %> 
   <main>
    <marquee behavior="" direction=""><h2 class="titleCat">TV Y SONIDO</h2></marquee>

    <section class="hyl">
		

		
		<article class="prodCat">
			<a href="productDetail">
			<div class="productDiscount">5% OFF</div>
			<img src="/images/tv y sonido/tv sam2.webp" alt="">
			<p class="productName">Smart TV 4K UHD Samsung 50" </p>
			<h4 class="productPrice">$ 75.999,00</h4>
		</a>
		</article>
		

		<article class="prodCat">
			<a href="productDetail">
			<div class="productDiscount">10% OFF</div>
			<img src="/images/tv y sonido/barra samsung 4...webp" alt="">
			<p class="productName">Barra de Sonido Samsung HWT450</p>
			<h4 class="productPrice">$ 42.539,00</h4>
		</a>
		</article>

		
		
		<article class="prodCat">
			<a href="productDetail">
			<div class="productDiscount">5% OFF</div>
			<img src="/images/tv y sonido/tv 3.webp" alt="">
			<p class="productName">Smart TV 4K UHD Samsung 55" </p>
			<h4 class="productPrice">$ 110.999,10</h4>
		</a>
		</article>
          
		<article class="prodCat">
			<a href="productDetail">
			<div class="productDiscount">10% OFF</div>
			<img src="/images/tv y sonido/equipoa.webp" alt="">
			<p class="productName">Equipo de audio Philco SAP500 </p>
			<h4 class="productPrice">$ 20.999,00</h4>
		</a>
		</article>
    

	</section>
</main>
	<%- include('../partials/footer') %>

    
</body>
</html>