<!DOCTYPE html>
<html lang="es">
<<<<<<< HEAD
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
=======
    <%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>
    <h1>vista del usuario</h1>
    <%- include('../partials/footer') %>
>>>>>>> 52bdc0935f3a620fcb7d8128e15135e49dce7e23
</body>
</html>